/*
========
01. animation
=========================================
*/

@keyframes scaleUp {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes scaleUp2 {
    0% {
        transform: translateY(1);
    }
    20%{
        transform: translateY(-15px);
    }
    40%{
        transform: translateY(1);
    }
    80%{
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(1);
    }
    
}

.scaleUp2 {
    animation-name: scaleUp2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.topRightScale {
    animation-name: topRightScale;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

@keyframes topRightScale {
    0% {
        opacity: 0;
        transform-origin: top right;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform-origin: top right;
        transform: scale(1);
    }
}
.translateXdirection {
    animation-name: translateXdirection;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
