/*
========
21. blog-details
=========================================
*/
.blog-details {
    @include mq(lg) {
        margin-top: 85px;
    }
    @include mq(md) {
        margin-top: 80px;
    }
    @include mq(sm) {
        margin-top: 60px;
    }
    @include mq(xs) {
        margin-top: 60px;
    }
}
/* comment box */

.post-comment-title h3 {
    font-size: 24px;
    color: #15287d;	
}


.latest-comments li:first-child .comments-box {
	border-top: 0;
	padding-top: 0;
}

.latest-comments li.children {
    margin-left: 105px;
    @media #{$sm}{
        margin-left: 60px;
    }
    @media #{$xs}{
        margin-left: 15px;
    }
}

.comments-avatar {
    float: left;
    margin-right: 25px;
    & img{
        border-radius: 50%;
    }
    @include mq(xs) {
        float: none;
        margin: 0;
        margin-bottom: 20px;
    }
}

.comments-text {
	overflow: hidden;
    margin-bottom: 50px;
}

.comments-text p{
	margin-bottom: 12px;
    color: #747ca2;
    font-size: 15px;
}
.avatar-name {
    margin-bottom: 10px;
	overflow: hidden;
	position: relative;
    & h5 {
        font-size: 16px;
        color: $theme-color-dark;
        line-height: 1;
        margin-bottom: 5px;  
    }
}

.avatar-name span {
    font-weight: 400;
    font-family: 'Rubik';
    color: #999999;
}

.comment-reply{
    font-size: 14px;
    font-weight: 600;
    color: $theme-color-dark;
    line-height: 1;
    & i {
        padding-left: 8px;
        display: inline-block;
        font-weight: 400;
    }
    &:hover {
        color: $theme-color;
    }
}
.comment-reply i{
    padding-right: 4px;
}
.comment-reply:hover{
    color: $theme-color;
}
.latest-comments {
    & ul {
        & li {
            list-style-type: none;
        }
    }
}
.post-input {
    & input,& textarea {
        width: 100%;
        margin-bottom: 20px;
        height: 60px;
        color: $theme-color-dark;
        padding-left: 34px;
        background: $gray-4;
        border: 2px solid transparent;
        font-size: 15px;
        @include placeholder {
            color: $theme-color-dark;
            font-weight: 600;
            font-size: 15px;
        }
        &:focus {
            border: 2px solid $theme-color;
        }
        &:invalid {
            border-color: #f00;
        }
    }
    & textarea {
        height: 120px;
        padding-top: 20px;
    }
}
.post-comment-form {
    & h4 {
        color: $theme-color-dark;
        font-size: 30px;
        @include mq(xs) {
            font-size: 20px;
        }
    }
}
.blog-details__wrapper {
    & .blog-wrapper {
        background: $white;
        padding: 40px 0;
        padding-bottom: 80px;
        box-shadow: 0px 10px 30px 0px rgba(223, 223, 223, 0.3);
    }
}


iframe {
    width: 100%;
    height: 750px;
}
h3.blog-title {
    color: $theme-color-dark;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Poppins';
    margin-bottom: 22px;
    margin-top: -9px;
    @include mq(sm) {
        font-size: 25px;
    }
    @include mq(xs) {
        font-size: 15px;
    }
}
article {
    & h4 {
        font-size: 30px;
        color: $theme-color-dark;
        margin-bottom: 16px;
        @include mq(xs) {
            font-size: 23px;
        }
    }
    & p {
        font-size: 15px;
        font-family: $rubik;
        color: $theme-color-light-2;
        line-height: 2;
        margin-bottom: 43px;
        & span {
            color: $theme-color-dark;
            margin-top: 30px;
            display: block;
        }
    }
    & img {
        max-width: 100%;
    }
}
.grid-blog,.standard-blog {
    @include mq(xl) {
        margin-top: 100px;
    }
    @include mq(lg) {
        margin-top: 100px;
    }
    @include mq(md) {
        margin-top: 85px;
    }
    @include mq(sm) {
        margin-top: 80px;
    }
    @include mq(xs) {
        margin-top: 75px;
    }
}
.news__meta {
    @include mq(xs) {
        display: block;
    }
}

.author__thumb-2 {
    & a {
        margin-right: 15px;
        display: inline-block;
    }
}
.author__thumb-2 img {
    margin-right: 15px;
}
.news__sidebar-item {
    &  .content {
        @include mq(xl) {
            padding-left: 14px;
        }
    }
}
.author__content-2 {
    & a {
        @include mq(xl) {
            font-size: 13px;
        }
    }
}
.news__sidebar-item {
    @include mq(xl) {
        padding: 18px;
    }
}
.news__sidebar-item h5 {
    @include mq(xl) {
        font-size: 18px;
    }
}
.sm-thumb  {
    & img {
        @include mq(lg) {
            max-width: 100px;
        }
    }
}