/*
========
19. faq
=========================================
*/
.accordion-item-white {
    & .accordion-body {
        color: $theme-color-light-2;
    }
    & button {
        background-color: $theme-color;
        color: $white;
        &.collapsed {
            color: $theme-color-dark;
            background-color: $white;
            & i {
                color: $white;
            }
        }
        @include mq(lg) {
            padding-left: 20px;
            font-size: 15px;
        }
        @include mq(md) {
            padding-left: 12px;
            font-size: 17px;
            line-height: 1.4;
           & span {
            font-size: 14px;
           }
        }
        @include mq(xs) {
            font-size: 14px;
            padding-left: 10px;
        }
    }
}
.asked-question {
    @include mq(xl) {
        padding-top: 100px;
    }
    @include mq(lg) {
        padding-top: 85px;
        padding-bottom: 85px;
    }
    @include mq(md) {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    @include mq(sm) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    @include mq(sm) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @include mq(xs) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    & .accordion {
        @include mq(md) {
            margin-top: 30px;
        }
        @include mq(xs) {
            margin-top: 20px;
        }
    }
}
.faq-contact {
    @include mq(md) {
        padding: 75px 0;
    }
    @include mq(sm) {
        padding: 70px 0;
    }
    @include mq(xs) {
        padding: 50px 0;
    }
}
.faq-contact-wrapper {
    @include mq(lg) {
        padding-top: 50px;
        margin-top: 0;
    }
    @include mq(md) {
        padding-top: 50px;
        margin-top: 0;
    }
    @include mq(xs) {
        margin-top: 0;
        padding-top: 0;
    }
}
.faq-testimonial-area {
    @include mq(md) {
        padding: 75px 0;
    }
    @include mq(sm) {
        padding: 70px 0;
        padding-bottom: 20px;
    }
    @include mq(xs) {
        padding: 50px 0;
        padding-bottom: 20px;
    }
}
.faq-contact-form {
    @include mq(sm) {
        margin-top: 0;
    }
    @include mq(xs) {
        margin-top: 0;
    }
}
.contact__form {
    & .news__thumb-inner {
        & input,& .nice-select,& textarea {
            background: #1f328a;
            color: $white;
        }
        & .nice-select .current {
            color: $white;
        }
        & ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $white;
          }
          & ::-moz-placeholder { /* Firefox 19+ */
            color: $white;
          }
          & :-ms-input-placeholder { /* IE 10+ */
            color: $white;
          }
          & :-moz-placeholder { /* Firefox 18- */
            color: $white;
          }
    }
}
.faq__area-02 {
    @include mq(lg) {
        padding-top: 0;
    }
    @include mq(md) {
        padding-top: 0;
    }
    @include mq(sm) {
        padding-top: 0;
    }
    @include mq(xs) {
        padding-top: 1px;
        padding-bottom: 55px;
    }
}
.faq__content {
    @include mq(xs) {
        padding-left: 0;
    }
}

.news__thumb-inner .nice-select {
	border-radius: 0;
}
.faq-contact-form {
    & form {
        & .nice-select {
            & span.current {
                line-height: 55px;
            }
            &::after {
                margin-top: -8px;
            }
        }
    }
}
.faq-contact-form form .news__thumb-inner-3 .nice-select::after {
    margin-top: 0px;
    margin-right: 16px;
}