/*
********************************************************************
************ 10. service
********************************************************************
*/
.service {
    &__left {
        @include mq(xs) {
            padding-right: 0;
        }
    }
    &__content {
        &-2 {
            @include mq(xs) {
                margin-top: 20px;
            }
        }
    }
    &__link {
        &-2 {
            position: absolute;
            right: 75px;
            bottom: 95px;
            z-index: 99;
            @include mq(xs) {
               display: none;
            }
        }
    }
    &-list {
        &-2 {
            @include mq(xl) {
                margin-top: 50px;
            }
            @include mq(lg) {
                margin-top: 41px;
            }
            @include mq(sm) {
                margin-top: 40px;
                margin-bottom: 40px;
            }
            & ul {
                & li {
                    list-style: none;
                    & a {
                        display: flex;
                        align-items: center;
                        display: block;
                        list-style: none;
                        padding: 12px 60px;
                        background-color: $white;
                        color: $theme-color-dark;
                        position: relative;
                        & span {
                            font-weight: 600;
                            font-size: 20px;
                            padding-left: 23px;
                            @include transition(.3s);
                            display: inline-block;
                            @include mq(xs)  {
                                font-size: 19px;
                            }
                        }
                        &::before {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 0;
                            @include transition(.5s);
                            height: 100%;
                            content: "";
                            background-image: -moz-linear-gradient( 0deg, rgb(249,95,178) 0%, rgb(252,121,108) 100%);
                            background-image: -webkit-linear-gradient( 0deg, rgb(249,95,178) 0%, rgb(252,121,108) 100%);
                            background-image: -ms-linear-gradient( 0deg, rgb(249,95,178) 0%, rgb(252,121,108) 100%);
                        }
                        & i {
                            color: $theme-color-dark;
                            @include transition(.3s);

                        }
                        & .service__link-content {
                            position: relative;
                            z-index: 9;
                        }
                        @include mq(xl) {
                            padding: 12px 26px;
                        }
                        @include mq(lg) {
                            padding: 12px 20px;
                        }
                        @include mq(xs) {
                            padding: 12px 20px;
                        }
                    }

                    &:hover {
                        & a {
                            &::before {
                                left: 0;
                                width: 100%;
                            }
                            & span {
                                color: $white;
                            }
                            & i {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
    
    &__widget {
        &-2 {
            padding: 0 10px;
            @include mq(sm) {
                margin-bottom: 30px;
            }
            @include mq(xs) {
                text-align: left;
                margin-bottom: 35px;
            }
        }
    }
    &__logo {
        &-2 {
            display: inline-block;
            margin: auto;
            position: relative;
            background-repeat: no-repeat;
            & img {
                position: relative;
                z-index: 9;
            }
            &::before {
                position: absolute;
                opacity: 0;
                visibility: hidden;
                @include transition(.3s);
                left: -0px;
                bottom: -0px;
                width: 100%;
                height: 100%;
                background-image: url('../img/icon/service/layer/layer.png');
                content: "";
                background-repeat: no-repeat;
            }
            @include mq(xs) {
                margin-left: 0;
            }
        }
    }
    &__content {
        &-2 {
            & h5 {
                font-size: 24px;
                line-height: 1;
                margin-bottom: 0;
                color: $hr-color;
            }
            & p {
                font-size: 15px;
                line-height: 28px;
                color: $theme-color-light-2;
                margin-top: 20px;
                font-family: 'Rubik', sans-serif;
                padding: 0 66px;
                @include mq(xl) {
                    padding: 0 25px;
                }
                @include mq(md) {
                    margin-top: 5px;
                    padding: 0;
                }
                @include mq(xs) {
                    padding: 0;
                }
            }
        }
        
    }
    &__wrapper {
        @include mq(lg) {
            margin-top: 70px;
        }
        &-2 {
            @include mq(lg) {
                margin-top: 0;
            }
        }
    }
    &-area {
        @include mq(lg) {
            margin-top: 70px;
            padding-top: 70px;
            padding-bottom: 40px;
        }
        @include mq(md) {
            margin-top: 70px;
            padding-top: 70px;
            padding-bottom: 40px;
        }
        @include mq(xs) {
            margin-top: 50px;
            padding-top: 50px;
            padding-bottom: 30px;
        }
        &.has-radius {
            border-bottom-left-radius: 200px;
            border-bottom-right-radius: 200px;
        }
        &-3 {
            @media #{$max-1480} {
                margin-top: 100px;
                padding-top: 100px;
            }
            @include mq(md) {
                margin-top: 85px;
                padding-top: 85px;
                padding-bottom: 35px;
            }
            @include mq(sm) {
                margin-top: 70px;
                padding-top: 70px;
                padding-bottom: 30px;
            }
            @include mq(xs) {
                margin-top: 50px;
                padding-top: 50px;
            }
        }
        &-2 {
            @include mq(lg) {
                border-bottom-left-radius: 60px;
                border-bottom-right-radius: 60px;
                padding-bottom: 90px;
                margin-top: -175px;
                padding-top: 245px;
            }
            @include mq(md) {
                margin-top: 0;
                padding-top: 70px;
            }
            @include mq(sm) {
                margin-top: 0;
                padding-top: 55px;
            }
            @include mq(xs) {
                margin-top: 0;
            }
        }
    }
    &__content {
        overflow: hidden;
        padding-top: 5px;
        & h4 {
            color: $white;
            font-size: 24px;
            margin-bottom: 0;
            line-height: 1;
        }
        & p {
            font-size: 15px;
            margin-top: 20px;
            color: $theme-color-light-3;
            line-height: 28px;
            padding-right: 92px;
            @include mq(xl) {
                padding-right: 30px;
            }
            @include mq(lg) {
                padding-right: 0;
            }
            @include mq(md) {
                padding-right: 0;
            }
            @include mq(xs) {
                font-size: 14px;
                margin-top: 11px;
                padding-right: 0;
            }
        }
        @include mq(xl) {
            padding-right: 56px;
        }
        @include mq(lg) {
            padding-right: 0;
        }
        @include mq(xs) {
            margin-top: 15px;
            margin-bottom: 15px;
        }
        &-2 {
            @include mq(sm) {
                margin-top: 20px;
            }
            & p {
                @include mq(sm) {
                    margin-top: 5px;
                    font-size: 14px;
                }
            }
        }
    }
    &__box {
        border: 1px solid #253a98;
        background-color: transparent;
        padding: 60px 50px;
        position: relative;
        &-wrapper {
            position: relative;
            z-index: 9;
            align-items: center;
            @include mq(xs) {
                flex-wrap: wrap;
                flex-direction: column;
                align-items: flex-start;
            }
        }
        &::before {
            position: absolute;
            right: 0;
            top: 0;
            width: 0;
            @include transition(.3s);
            background-color: $theme-color-dark-2;
            content: "";
            height: 100%;
        }
        &:hover {
            &::before {
                width: 100%;
                left: 0;
                width: 100%;
            }
            & .logo-2 {
                & i {
                    color: $theme-color-dark;
                }
            }
            & .logo-2 {
                background-color: $orange;
            }
            & .service__logo {
                &::after {
                    left: 0;
                    width: 100%;
                }
            }
        }
        @include mq(lg) {
            padding: 45px 30px;
        }
        @include mq(xs) {
            padding: 45px 30px;
        }
        &-2 {
            & .service {
                &__thumb {
                    overflow: hidden;
                    & img {
                        @include transition(.3s);
                    }
                }
                &__content {
                    &-3 {
                        padding: 42px 4px;
                        padding-top: 13px;
                        text-align: center;
                        box-shadow: 0px 10px 30px 0px rgba(212, 212, 212, 0.3);
                        position: relative;
                        & .service-icon {
                            & i {
                                color: #f7f7f7;
                                &::before {
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    font-size: 140px;
                                    transform: translateX(-50%);
                                    opacity: 0;
                                    visibility: hidden;
                                    @include transition(.3s);
                                }
                            }
                        }
                        & .content {
                            position: relative;
                            z-index: 99;
                        }
                        &::after ,&::before{
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 3px;
                            background-color: $theme-color;
                            content: "";
                        }
                        &::before {
                            z-index: 9;
                            background-color: $orange;
                            width: 0;
                            right: 0;
                            left: auto;
                            @include transition(.3s);
                        }
                        & h5 {
                            font-size: 22px;
                            color: $theme-color-dark;
                            margin-bottom: 0;
                        }
                        & p {
                            margin-bottom: 0;
                            font-size: 15px;
                            color: #747ca2;
                            margin-top: 13px;
                            line-height: 28px;
                        }
                    }
                }
            }
            &:hover {
                & img {
                    transform: scale(1.1);
                }
                & .service__content-3 {
                    & .service-icon {
                        & i {
                            &::before {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                    &::before {
                        left: 0;
                        width: 100%;
                        right: auto;
                    }
                }
            }
        }
        &-3 {
            @include transition(.3s);
            border-color: $gray-4;
            &::before{
                display: none;
            }
            & .service__box-wrapper {
                display: block;
            }
            & .service{
                &__logo {
                    margin-bottom: 41px;
                    display: block;
                    background: $theme-color-opacity-3;
                    & i {
                        @include transition(.3s);
                        color: $theme-color;
                    }
                }
                &__content {
                    padding-left: 0;
                    & p {
                        padding-right: 0;
                    }
                    & h4 {
                        color: $theme-color-dark;
                    }
                }
                &__action {
                    & .logo-2 {
                        margin-top: 32px;
                        &:hover {
                            background-color: $orange;
                            border-color: transparent;
                        }
                    }
                }
            }
            &:hover {
                border-color: transparent;
                box-shadow: 0px 10px 30px 0px rgba(199, 199, 199, 0.3);
                & .service__logo {
                    & i {
                        color: $white;
                    }
                }
            }
            
        }
        &-4 {
            border-color: $white-3;
            position: relative;
            &::before {
                background-color: #253a98;
                opacity: 0.941;
            }
            & .service__box-img {
                & img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: -1;
                    @include transition(.5s);
                    opacity: 0;
                    visibility: hidden;
                }
            }
            & .service__content {
                & h4 {
                    color: $theme-color-dark;
                }
                & h4,&p {
                    @include transition(.3s);
                }
            }
        }
        &-5 {
            padding: 50px 40px;
            padding-right: 30px;
            position: relative;
           background-color: $white;
            & .service__logo {
                & i {
                    color: $theme-color;
                }
                &::after {
                    background-color: $white;
                }
            }
           
            &::after {
                position: absolute;
                right: 0;
                top: 0;
                width: 0;
                height: 100%;
                background-color: rgb(21, 40, 125);
                opacity: 0.902;
                content: "";
                @include transition(.3s);
            }
            & h4,& p {
                @include transition(.3s);
            }
            & img {
                z-index: -1;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
                @include transition(.3s);
                transition-delay: .2s;
                height: 100%;
                object-fit: cover;
            }


            & .service__content {
                & h4 {
                    font-size: 22px;
                    @include mq(xl) {
                        font-size: 18px;
                    }
                    @include mq(lg) {
                        font-size: 18px;
                    }
                }
            }
            &:hover {
                background-color: transparent;
                & img {
                    opacity: 1;
                    visibility: visible;
                }
                & h4, & p {
                    color: $white;
                }
                & .service__logo {
                    & i {
                        color: $theme-color;
                    }
                }
                &::after {
                    width: 100%;
                    left: 0;
                }
                & .logo-2 {
                    background-color: $theme-color;
                    border-color: transparent;

                    & i {
                        color: $white;
                    }
                }
            }
        }
    }
    &__logo {
        display: inline-block;
        width: 115px;
        height: 115px;
        flex: 0 0 auto;
        background-color: $theme-color-dark-2;
        text-align: center;
        line-height: 115px;
        border-radius: 28% 72% 43% 57%/46% 58% 42% 54%;
        position: relative;
        overflow: hidden;
        &::after {
            position: absolute;
            right: 0;
            top: 0;
            width: 0;
            @include transition(.3s);
            height: 100%;
            background: $theme-color;
            content: "";
        }
    }
    &__gradient {
        &-img {
            position: relative;
            overflow: hidden;
            z-index: 99;
            @include mq(xs) {
                margin-top: 50px;
            }
            &::after {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: -moz-linear-gradient( 90deg, rgb(21,40,125) 0%, rgba(21,40,125,0) 100%);
                background-image: -webkit-linear-gradient( 90deg, rgb(21,40,125) 0%, rgba(21,40,125,0) 100%);
                background-image: -ms-linear-gradient( 90deg, rgb(21,40,125) 0%, rgba(21,40,125,0) 100%);
                content: "";
            }
            & img {
                @include transition(.3s);
            }
            &:hover {
                & img {
                    transform: scale(1.1);
                }
            }
            @include mq(md) {
                margin-top: 50px;
            }
        }
        &-content {
            position: absolute;
            left: 0;
            z-index: 9;
            bottom: 0;
            padding: 63px 80px;
            width: 100%;
            &-inner {
                position: relative;
            }
            & h3 {
                margin-bottom: 0;
                line-height: 1;
                & a {
                    color: $white;
                    font-size: 30px;
                    line-height: 1;
                    display: block;
                    font-weight: 600;
                    @include mq(xs) {
                        font-size: 25px;
                    }
                }
            }
            & p {
                color: $white;
                font-family: $rubik;
                font-size: 15px;
                margin-top: 20px;
                @include mq(lg) {
                    padding-right: 60px;
                    & br {
                        display: none;
                    }
                }
                @include mq(sm) {
                    padding-right: 60px;
                    & br {
                        display: none;
                    }
                }
                @include mq(xs) {
                    padding-right: 0;
                    & br {
                        display: none;
                    }
                }
            }
            @include mq(xs) {
                padding: 30px;
            }
        }
    }
}


.logo-2 {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
    color: $white;
    overflow: hidden;
    @include transition(.3s);
    & i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        @include transition(.3s);
        &:first-child {
            left: -50%;
        }
    }
    &:hover {
        & i {
            &:first-child {
                left: 50%;
            }
            &:last-child {
                left: 150%;
            }
        }
    }
    &.has-border {
        border: 2px solid $gray-2;
        background: transparent;
        color: $hr-color;
    }
}
.single-service {
    position: relative;
    &__action {
        position: absolute;
        top: 50%;
        z-index: 99;
        right: -35px;
        transform: translateY(-50%);
    }
    & .icon-3 {
        @include mq(lg) {
            display: none;
        }
        @include mq(md) {
            display: none;
        }
        @include mq(sm) {
            display: none;
        }
        @include mq(xs) {
            display: none;
        }
    }
    &:hover {
        & .service__logo-2 {
            &::before {
                opacity: 1;
                visibility: visible;
                left: -10px;
                bottom: -10px;
            }
        }
    }
}

.service__logo-3 {
    border-radius: 100% 100% 79% 100% / 100% 100% 61% 100% ;
    background-color: $white;
    position: relative;
    overflow: visible;
    &::after {
        position: absolute;
        right: -10px;
        bottom: -10px;
        top: auto;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid $theme-color-dark-4;
        background-color: transparent;
    }
    & i {
        color: $theme-color;
        font-size: 58px;
    }
    & .service__logo-inner {
        position: relative;
        z-index: 9;
        width: 100%;
        height: 100%;
        border-radius: 100% 100% 79% 100% / 100% 100% 61% 100%;
        background: $white;
    }
}
.service-parent {
    &:hover {
        & .logo-2 {
            background-color: $theme-color;
            & i {
                color: $white;
            }
        }
        & .service__box-img {
            & img {
                opacity: 1;
                transition-delay: .3s;
                visibility: visible;
            }
        }
        & .service__content {
            & h4 ,& p{
                color: $white;
            }
        }
    }
}
.service-area-2-sub {
    @include mq(lg) {
        margin-top: -72px;
        padding-bottom: 70px;
    }
    @include mq(md) {
        margin-top: -127px;
        padding-bottom: 55px;
        padding-top: 184px;
    }
    @include mq(sm) {
        padding-top: 55px;
        margin-top: 0;
        padding-bottom: 55px;
    }
    @include mq(xs) {
        margin-top: 0;
        padding-bottom: 60px;
    }
}

.service-area-2 {
    @include mq(md) {
        padding-bottom: 60px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    @include mq(sm) {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding-bottom: 20px;
    }
    @include mq(xs) {
        border-radius: 0;
        padding-bottom: 25px;
    }
}
.gallery-item-wrapper .grid-item a {
    opacity: 1;
    visibility: visible;
    position: static;
    transform: scale(1);
    color: #15287d;
    display: contents;
}
.blog__img-wrapper {
    &.item-2 {
        & .thumb {
            float: left;
                @include mq(xl) {
                    max-width: 41%;
                }
                @include mq(lg) {
                    max-width: 41%;
                }
                @include mq(md) {
                    max-width: 40%;
                }
                @include mq(sm) {
                    max-width: 40%;
                }
                &:first-child {
                    margin-right: 30px;
                    @include mq(xs) {
                        margin-bottom: 30px;
                    }
                }
        }
    }
}

.service-top {
    @include mq(lg) {
        padding-top: 70px;
    }
    @include mq(md) {
        padding-top: 70px;
    }
    @include mq(sm) {
        padding-top: 70px;
    }
    @include mq(xs) {
        padding-top: 70px;
    }
}
.service-area-4 {
    @include mq(lg) {
        padding-top: 0;
        margin-top: 0;
    }
    @include mq(md) {
        padding-top: 0;
        margin-top: 0;
    }
    @include mq(sm) {
        padding-top: 0;
        margin-top: 0;
    }
    @include mq(xs) {
        padding-top: 0;
        margin-top: 0;
    }
}
.features-margin-2 {
    @include mq(md) {
        margin-bottom: 0;
    }
    @include mq(xs) {
        margin-bottom: 0;
        padding-bottom: 0;
        margin-top: 50px;
    }
}
.features-margin {
    @include mq(xs) {
        margin-bottom: 30px;
    }
}
.service__box-img {
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.contact__form.solid-form {
    & form {
        & .news__thumb-inner {
            margin-bottom: 30px;
            & input,& textarea, .nice-select {
                background: #1f328a;
            }
            &.no-margin {
                margin-bottom: 0;
            }
            &.mb-25 {
                margin-bottom: 25px;
            }
        }
        .news__thumb-inner  {
            & .nice-select {
                & span.current {
                    line-height: 55px;
                }
            }
        }
    }
}

.service__box {
    & .logo-2.has-border {
        transition: all .3s;
    }
    &:hover {
        & .logo-2 {
            &.has-border {
                border: 0;
            }
        }
    }
}

.service__logo-1 {
    float: left;
    margin-right: 43px;
    @include mq(xl) {
        margin-right: 23px;
    }
    @include mq(lg) {
        margin-right: 15px;
    }
    @include mq(xs) {
        float: none;
        margin-right: 0;
    }
}
.logo-2.logo-bg {
    position: absolute;
    right: 0;
    top: 50%;
    background: #253a98;
    transform: translateY(-50%);
    @include mq(lg) {
        position: static;
        transform: translateY(0);
    }
    @include mq(xs) {
        position: static;
        transform: translateY(0);
    }
}
.service__box.service__box-3 {
    @include mq(max-992) {
        padding: 30px;
    }
    & h4 {
        @include mq(max-992) {
            font-size: 20px;
        }
        @include mq(xs) {
            font-size: 19px;
        }
    }
}
.service__logo.service__logo-update {
    float: left;
    margin-right: 43px;
}
.service__logo.service__logo-update {
    @include mq(xs) {
        float: none;
    }
}
.service__content.service__content-4 h4.service-title {
    color: #15287d;
}
.service__box:hover .service__content.service__content-4 h4.service-title  {
    color: #fff;
}
.service__box.service__box-update {
    border-color: #e9ebf4;
}

@media (max-width: 1350px) {
    .service-area.has-radius {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    }
}
.service__box-2 .service__content-3.service-space {
    @include mq(xl) {
        padding: 42px 25px;
    }
    & p {
        @include mq(xl) {
            font-size: 17px;
        }
    }
}
.service__box-3  {
    @include mq(xl) {
        padding: 30px;
    }
}

.service__content {
    @include mq(xl) {
        padding-right: 0;
    }
}
#ui-datepicker-div {
    padding: 0;
}