/*
========
17. service-details
=========================================
*/

.feature {
    &__list {
        & ul {
            & li {
                margin-bottom: 30px;
                list-style: none;
                & i {
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    border: 2px solid $theme-color-dark;
                    text-align: center;
                    line-height: 21px;
                    border-radius: 50%;
                    color: $theme-color-dark;
                    font-size: 13px;
                }
                & span {
                    font-family: 'Rubik';
                    color: #15287d;
                    padding-left: 5px;
                    line-height: 1;
                }
            }
        }
    }
}
